<h1>Listing articles</h1>

<%= link_to 'New Article', new_article_path %>
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="2"></th>
	</tr>
	<% @articles.each do |a| %>
	<tr>
		<th><%= a.title %></th>
		<th><%= a.text %></th>
		<th><%= link_to 'Show', article_path(a) %></th>
		<th><%= link_to 'Edit', edit_article_path(a) %></th>
	</tr>
	<% end %>
</table>
